.main {
    padding-left: 4em;
    padding-right: 2em;
}

.bank {
    padding-left: 1em;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.form1 {
    display: flex;
    flex-direction: row;
}