<%- include("header", {title: title}); %>
<div class="container main">
    <h1>Välkommen till vår fiskfarm</h1>

    <ul>
        <li><a href="index">Hem</a></li>
        <li><a href="visa">Visa fisk</a></li>
        <li><a href="search">Sök</a></li>
    </ul>
</div>


<%- include("footer"); %>