<%- include("header", {title: title}); %>
<div class="container">
    <h1>Search</h1>
</div>

<div class="container form">
    <p>Skriv fiskens namn, lokal eller fiskfamilj</p>
    <form method="post">
        <input type="text" name="search_word">
        <input type="submit" value="Search">
    </form>
</div>
</div>

<%- include("footer"); %>