<%- include("header", {title: title}); %>
<div class="container main">
    <h1>Your order <%= placed %> has been placed.</h1>
    <button><a href="/eshop/order">Check order status</a></button>
</div>


<%- include("footer"); %>