<%- include("header", {title: title}); %>
<div class="container main">
    <h1>Welcome to our online shop</h1>

    <p>What do you want to do?</p>

    <ul>
        <li><a href="about">About eshop</a></li>
        <li><a href="category">Show product categories</a></li>
        <li><a href="product">Show products</a></li>
    </ul>
</div>


<%- include("footer"); %>